annotated-types
blinker
click
colorama
Flask
Flask-Cors
flask-openapi3
flask-openapi3-swagger
flask-openapi3-redoc
flask-openapi3-rapidoc
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
nose2
pydantic
pydantic_core
SQLAlchemy
SQLAlchemy-Utils
typing-inspection
typing_extensions
werkzeug